<div class="row">
	<div class="col-md-12">
		<div class="card-deck mt-4">
			<div class="card">
				<div class="card-body">
					<div>
						<img width="16px" src="./resources/img/svg/si-glyph-briefcase.svg" />
						Works at
						{{social.works}}
					</div>
					<div>
						<img width="16px" src="./resources/img/svg/si-glyph-house.svg" /> 
						Lives in
						{{social.lives}} 
					</div>
					<div>
						<img width="16px" src="./resources/img/svg/si-glyph-birthday-cake.svg" /> 
						Brithday in
						{{social.birthday | date}}
					</div>
					<div>
						<img width="16px" src="./resources/img/svg/si-glyph-city.svg" />
						Originally from
						{{social.from}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>