<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h4 class="text-center">New User</h4>
				<form name="userForm" novalidate>
				<input type="hidden" ng-model="user.userId">
					<div class="form-group">
						<label for="firstName">First Name</label> 
						<input type="text"
							ng-model="user.firstName"
							name="firstName" 
							class="form-control" 
							id="firstName"
							autofocus required
							placeholder="First Name">
						<p
							ng-show="userForm.firstName.$invalid 
							&& !userForm.firstName.$pristine"
							class="help-block">First name is required.
						</p>
						<p
							ng-show="(userForm.firstName.$touched || submitted) 
							&& userForm.firstName.$error.required"
							class="help-block">You must fill the field
						</p>
						
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label> 
						<input type="text"
							ng-model="user.lastName"
							name="lastName" 
							class="form-control" 
							id="lastName"
							required
							placeholder="Last Name">
						<p
							ng-show="userForm.lastName.$invalid 
							&& !userForm.lastName.$pristine"
							class="help-block">Last name is required.
						</p>
						<p
							ng-show="(userForm.lastName.$touched || submitted) 
							&& userForm.lastName.$error.required"
							class="help-block">You may fill the field
						</p>
					</div>
					<div class="form-group">
						<label for="email">Email address</label> 
						<input type="email"
							ng-model="user.email"
							name="email" 
							class="form-control" 
							id="email"
							required
							aria-describedby="emailHelp" 
							placeholder="Enter email"> 
						<small ng-show="userForm.email.$valid 
							&& userForm.email.$pristine" id="emailHelp" class="form-text text-muted">We'll never
							share your email with anyone else.
						</small>
						<p
							ng-show="userForm.email.$invalid 
							&& !userForm.email.$pristine
							&& userForm.email.$error.required"
							class="help-block">Email is required.
						</p>
						<p
							ng-show="(userForm.email.$touched || submitted) 
							&& userForm.email.$error.required"
							class="help-block">You may fill the field
						</p>
							
					</div>
					<button 
						ng-show="user.userId" 
						ng-click="editUser()" 
						type="submit" 
						class="btn btn-primary"
						ng-disabled="userForm.$invalid">Edit
					</button>
					<button 
						ng-show="!user.userId" 
						ng-click="saveUser()" 
						type="submit" 
						class="btn btn-primary"
						ng-disabled="userForm.$invalid">Save
					</button>
				</form>
			</div>
		</div>
	</div>
</div>