<div ng-include="'./resources/app/view/templates/content-header.html'"></div>
<div class="card-deck mt-4">
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
			<!-- <input type="text" ng-model="userToSearch"> -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th visible-to-roles="ROLE_ADMIN,ROLE_MANAGER" scope="col">Action</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
						<tr tr-row ng-repeat="user in users.users | filter:userToSearch"></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>