<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title text-center">User List</h1>
				<div class="border-top my-3"></div>
				<h6>Search For User</h6>
				<div class="input-group mb-3">
						<div class="input-group-prepend">
							<select id="searchByType" name="searchByType"
								ng-model="filterType"
								class="btn btn-outline-secondary dropdown-toggle"
								ng-init="filterType='$'">
								<option value='$'>All</option>
								<option value='firstName'>First Name</option>
								<option value='lastName'>Last Name</option>
							</select>
						</div>
						<input type="text" ng-model="$parent.userToSearch[filterType]"
							class="form-control">
					</div>
			</div>
		</div>
	</div>
</div>
